<div id='links-container'>
  <div class='link-box'>
    
  </div>

  <div class='link-box'>

  </div>

  <div class='link-box'>

  </div>

</div>





<p>Find me in app/views/static/home.html.erb</p>
